
    
  //@import 'ui-shared/assets/theme.scss';
    @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
    @font-face {
      font-family: customFont;
      src: url(assets/sansation_light.woff);
    }

    html, body {
      height: 100%;
      margin: 0;
    }


    