@import 'ui-shared/assets/theme.scss';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


.mat-typography {
  width: 100%;
  height: 100%;
}

.example-container {
  width: 100%;
  height: 100%;
}

